<div ng-controller="SpeakerCtrl">
    <h1>Speakers</h1>

    <div>
        <button type="button" class="btn btn-xs btn-info" ng-click="dialogUpdate.launch()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <table class="table table-bordered table-condensed table-striped" style="margin-top:10px">
        <thead>
        <tr>
            <th>Id&nbsp;</th>
            <th>Firstname&nbsp;</th>
            <th>Lastname&nbsp;</th>
            <th>Company&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in speakers" ng-click="dialogUpdate.launch(data)">
            <td>
                <small>{{data.id}}</small>
            </td>
            <td>
                <small>{{data.firstname}}</small>
            </td>
            <td>
                <small>{{data.lastname}}</small>
            </td>
            <td>
                <small>{{data.company}}</small>
            </td>
            <td width="5%">
                <button type="button" class="btn btn-xs btn-danger" ng-click="delete(data, $index, $event)">
                    <span class="glyphicon glyphicon-trash"></span><span ng-show="help">&nbsp;Supprimer</span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="dialogUpdate" role="dialog" aria-labelledby="dialogUpdateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dialogUpdateLabel">Speaker</h4>
                </div>
                <div class="modal-body">
                    <form class="form" name="form" novalidate>
                        <div class="form-group" ng-show="speaker.id>0">
                            <label class="control-label" for="data-id">&nbsp;Id</label>
                            <input type="text" class="form-control input-sm" id="data-id" placeholder="0" readonly
                                   ng-model="speaker.id">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-firstname">&nbsp;Firstname</label>
                            <input type="text"  class="form-control input-sm" id="data-firstname"
                                    required ng-model="speaker.firstname">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-lastname">&nbsp;Lastname</label>
                            <input type="text" id="data-lastname" class="form-control input-sm" required
                                   ng-model="speaker.lastname">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-company">&nbsp;Company</label>
                            <input type="text" id="data-company" class="form-control input-sm"
                                   ng-model="speaker.company">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-streetAdress">&nbsp;Streat adress</label>
                            <input type="text"  class="form-control input-sm" id="data-streetAdress"
                                   ng-model="speaker.streetAdress">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-postalCode">&nbsp;Postal code</label>
                            <input type="text"  class="form-control input-sm" id="data-postalCode"
                                   ng-model="speaker.postalCode">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-city">&nbsp;City</label>
                            <input type="text"  class="form-control input-sm" id="data-city"
                                   ng-model="speaker.city">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="data-codeCountry">&nbsp;Code country</label>
                            <input type="text"  class="form-control input-sm" id="data-codeCountry"
                                   ng-model="speaker.codeCountry">
                        </div>
                    </form>
                </div>
                <div class="modal-footer modal-footer-boiron">
                    <div class="btn-group">
                        <button type="button" class="btn  btn-default" ng-click="dialogUpdate.cancel()">Cancel</button>
                        <button type="button" class="btn  btn-info" ng-click="dialogUpdate.save(speaker)">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
